body {
	margin: 0;
}

.title-section {
	background-color: #242424;
	
}

.sections-container {
	float: left;
	min-width: 100%;
	
}

.main-content {
	margin: 0 auto;
	width: 1004px;
	
}

.title-section .main-content {
	padding: 7px 0;
	border-right: 1px solid #383838;
}

.search-button {
	background: url("images/search-icon.png") no-repeat center;
	width: 20px;
	border: 0;	
}



.login-button {
	background-color: #242424;
	border: 0;
	color: #7e7e7e;
	vertical-align: top;
}

.title-section h1 {
	display: inline;
	font-family: "Arial";
	font-weight: normal;
	color: #57c5a0;
	font-size: 18px;
	
}

.title-section span {
	float: right;	
}

.menus {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	
}

.menus li {
	display: inline-block;
	border-right: 1px solid #eeeeee;
}

.menus li:first-child {
	border-left: 1px solid #eeeeee;
}



.menus li:nth-child(n+7) {
	float: right;
	padding: 15px 15px;
}

.menus li a {
	display: inline-block;
	text-decoration: none;
	font-family: "Arial";
	font-size: 12px;
	color: #242424;
	padding: 15px 15px;
	
}

.menus li span {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.star {
	background: url("images/star.png") no-repeat center;
}

.ratings {
	background: url("images/ratings.png") no-repeat center;
}

.cart {
	background: url("images/cart.png") no-repeat center;
}

.items-count {
	background: url("images/items-count.png") no-repeat center;
}


.pink-shoe {
	float: left;
}

.pink-shoe-section {
	background-color: #efebe8;
}

.pink-shoe-section:after {
	clear: both;
	display: block;
	content: "";
}

.pink-shoe-sale {
	float: left;
	width: 50%;
}

.pink-shoe-sale .price-tag {
	color: #ffffff;
	background-color: #57c5a0;
	font-family: "Arial";
	font-size: 10px;
	padding: 20px 20px;
	display: inline-block;
}

.pink-shoe-sale h3 {
	font-family: "Arial";
	font-weight: normal;
}

.pink-shoe-sale p {
	font-family: "Arial";
	font-size: 14px;
	color: #565554;
}

.pink-shoe-sale span {
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 20px 20px;
	background-color: #ffffff;
}

.eye {
	background: url("images/eye.png") no-repeat center;
}

.star {
	background: url("images/mini-star.png") no-repeat center;
}

.arrow {
	background: url("images/arrow.png") no-repeat center;
}

.green-cart {
	background: url("images/green-cart.png") no-repeat center;
}

.tab-section {
	background-color: #2e2e2e;
	clear: both;
}


.tabs {
	list-style-type: none;
	margin: 0;
	padding-top: 3px;
}

.tabs li {
	display: inline-block;
	width: 19%;
	height: 40px;
	text-align: center;
	padding-top: 5px;
	border-top: 6px solid #000000;
	position: relative;
}

.tabs li:hover:before {
	content: '';
	display: block;
	position: absolute;
	top: -4px; 
	right: 0;
	left: 0;
	height: 3px;
	background-color: #57c5a0;
}

.tabs li a {
	text-decoration: none;
	font-family: "Arial";
}
.tab-heading {
	font-size: 13px;
	color: #979797;
	display: block;
}

.tab-caption {
	font-size: 10px;
	color: #6e6e6e;
	display: block;
	padding-top: 2px;
}

.shoe-specials-section {
	background-color: #242424;
}

.shoe-specials-section .main-content {
	text-align: center;
}

.shoe-specials-section .main-content img {
	display: inline-block;	
	padding: 20px 10px;
}

.shoe-specials-section .main-content img:first-child {
	padding-left: 0;
}

.shoe-specials-section .main-content img:last-child {
	padding-right: 0;
}

.new-arrivals-section {
	background-color: #ebe7df;
	
	
}
.heading {
	padding: 20px 0px;	
}

.heading:after {
	clear: both;
	content: "";
	display: block;
}
.heading h3 {
	color: #242424;
	font-family: "Arial";
	float: left;
	margin-top: 0;	
	font-weight: normal;

}

.heading input {
	float: right;
	border-radius: 0;
	background-color: #ebe7df;
	padding: 5px 20px;
	color: #bcb5a7;
	font-size: 12px;
	border: 1px solid #cccccc;
}
.item {
	width: 300px;
	height: 270px;
	position: relative;
}


.price {
	position: absolute;
	left: 10px;
	bottom: 0;
	height: 65px;
	width: 70px;
	background-color: #57c5a0;
	padding: 27px 10px;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Arial";
	font-size: 12px;
}

.title {
	border-top: 1px solid #cccccc;
	padding: 16px 0px;
	background-color: #ffffff;
	font-family: "Arial";
	font-size: 15px;
}

.buttons {
	text-align: right;	
	height: 17px;
}


.buttons input {
	margin: 0 20px 0 0;
	border: 0;
	width: 20px;
	display: none;
}

.item:hover .buttons input {
	display: inline-block;
}
.items-container {
	text-align: center;
	
}

.items-container > div {
	float: left;
}

.items-container:after {
	content: "";
	display: block;
	clear: both;
}
	
.item:first-child {
	margin-right: 40px;
}

.item:last-child {
	margin-left: 40px;
}

.on-sale {
	position: absolute;
	right: 10px;
	top: 0;
	background-color: #242424;
	color: #ffffff;
	height: 70px;
	width: 70px;
	font-size: 12px;
	padding: 25px 5px;
	box-sizing: border-box;
	font-family: "Arial";
}

.out-stock {
	position: absolute;
	right: 10px;
	top: 0;
	background-color: #f27e4b;
	color: #ffffff;
	height: 70px;
	width: 70px;
	font-size: 12px;
	padding: 25px 5px;
	box-sizing: border-box;
	font-family: "Arial";
}



.site-updates {
	
	padding-top: 20px;
}

.site-updates > div {
	float: left;
	background-color: #dfdbd4;
	padding: 0px 15px;
}


.site-updates:after {
	content: "";
	clear: both;
	display: block;
}
.free-shipping {
	
	width: 200px;
	margin-right: 20px;
}
.testimonials {
	width: 200px;
	margin-right: 20px;
}

.blog-news {
	width: 450px;
}
.site-updates h5 {
	font-family: "Arial";
}

.site-updates p {
	font-family: "Arial";
	font-size: 11px;
}

.items-container:nth-child(4) {
	padding-bottom: 20px;
	border-bottom: 1px solid #cccccc;
}

.items-container:first-of-type {
	border: 1px solid #ccc;
}


.date {
	width: 30px;
	background-color: #57c5a0;
	color: #ffffff;
	
	font-family: "Arial";
	font-size: 12px;
	padding: 10px 10px;
}
.news-container div {
	height: 30px;
	float: left;
	
}
.news-container:after {
	display: block;
	content: "";
	clear: both;
}
.news h6 {
	margin: 0;
	font-size: 12px;
	font-family: "Arial";
}
.news p {
	margin: 0;
}

.news {
	padding: 
}